%section.reviews.container
  %header
    %h1= "Reviews for #{@business.name}"
  %ul
    - @business.reviews.each do |review|
      %li
        %section.review
          %p= review.body
          %p
            = link_to review.user.name, user_path(review.user)
            %span= "on #{review.created_at}"
  = form_for([@business, @review]) do |f|
    %header
      %h1= "Write a Review for #{@business.name}"
    %fieldset
      .form-group
        = f.label :body, "Write your Review Here"
        .row
          .col-sm-4
            = f.text_area :body, rows: 20, cols: 70
    %fieldset.form-group.action
      = f.submit "Submit Review", class: "btn btn-default"