%section.register.container
  %dl
    %dt Name:
    %dd= @user.name
    %dt Email:
    %dd= @user.email

  %h2= "Reviews by #{@user.name}"

  %ul
    - @user.reviews.each do |review|
      %li
        %section.review
          %h3= link_to review.business.name, business_path(review.business)
          %p= review.body