%section.reviews.container
  %header
    %h1 Recent Reviews
  %ul
    - @recent_reviews.each do |review|
      %li
        %section.review
          %h3
            = link_to review.business.name, business_path(review.business)
            %span= "on #{review.created_at}"
          %p= review.body
          %ul.nav.nav-pills
            %li{role: "presentation"}
              = link_to review.user.name, user_path(review.user)